.btn {
  border: none;
  cursor: pointer;
}  

.btn-primary {
  background-color: #F79201;
}

.btn-primary:hover {
  background-color: rgb(255, 189, 94);
}

a.btn-primary {
  color: #fff;
}

.btn-secondary {
  background-color: #8e7850;
  border: none;
  color: #fff;
  cursor: pointer;
}

.btn-secondary:hover {
  background-color: #b59c6d;
  color: #fff;
}

a.btn-secondary {
  color: #fff;
}

form label {
  font-weight: 600;
  margin-bottom: 0.25rem;
}

body {
  color: #41474a;
  font-size: 14px;
  font-family: raleway, sans-serif;
}

nav {
  margin-bottom: 1em;
  background: #ffffff;
}

h2 {
  color: #F79201;
  font-size: 44px;
}

h1, h2, h3 {
  margin-bottom: 1rem;
}

li.nav-item a {
  height: 100px;
  border-top: 2px solid #222629;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2px;
  color: #9699A6;
  font-weight: 400;
  min-width: 108px;
}  

li.nav-item a.active, li.nav-item a:hover {
  border-top: 2px solid #F79201;
  color: #F79201;
}

.navbar {
  padding: 0;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #caced0 !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #caced0 !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #caced0 !important;
}
:-moz-placeholder { /* Firefox 18- */
  color: #caced0 !important;
}

.clickable {
  cursor: pointer;
  user-select: none;
}

.input-group-addon.clickable:active {
  background-color: #ccc;
}

.input-group.small {
  max-width: 10rem;
}

.file-uploader {
  width: 100%;
  border: 3px dashed #666;
  height: 200px;
  text-align: center;
}

.breadcrumb-bar {
  height: 68px;
  background-color: #25292C;
  margin: 0 -15px;
  margin-bottom: 2rem;
}

/* http://stackoverflow.com/questions/14859322/css3-spin-animation */
.icon-spin {
    animation-name: spin;
    animation-duration: 1250ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

ul.order-summary {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

ul.order-summary > li > .key {
  text-transform: capitalize;
  font-weight: bold;
}

.shopping-cart-sidebar ul.order-summary {
  flex-direction: column;
}

.shopping-cart-sidebar button.btn-danger {
  padding: 0.125rem 0.125rem;
}

/* FOOTER STUFF */
.nsf-text {
  color: #D4B443;
}

.footer {
  background: #25292C url(/images/footer-map.png) no-repeat center center;
  padding: 43px 120px 83px 100px;
}

.footer h2 {
  font-size: 24px;
  color: white;
}
